/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 50px;
  background: black;
}
header nav {
  padding: 15px;
}
header nav * {
  float: left;
  width: 8%;
  margin: 0 1%;
  color: white;
}
header nav a {
  text-decoration: none;
}
header nav > ul {
  width: 50%;
  list-style: none;
}
header nav input {
  width: 100%;
}

main,
main + section {
  float: left;
  width: 50%;
  height: 350px;
}
main + section > section {
  float: left;
  width: 50%;
  height: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
